.barlow-semi-condensed {
    font-family: "Barlow Semi Condensed", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(214, 17%, 92%);
}

main {
    flex: 1;
    display: grid;
    justify-content: center;
    align-content: center;
    padding-left: 2em;
    padding-right: 2em;
}

.card {
    border-radius: 1em;
    padding: 2em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 0.8125em;
    background-color: #fff;
    color: hsl(224, 10%, 45%);
    box-shadow: 3em 5em 2em 0 rgba(0, 0, 0, 0.1);
    min-width: 22em;
}

.card--purple {
    background-color: hsl(263, 55%, 52%);
    color: hsl(264, 82%, 80%);
}

.card--gray {
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 81%);
}

.card--dark {
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 81%);
}

.card__author {
    width: 100%;
    display: flex;
    gap: 1em;
    align-items: center;
    margin-bottom: 1em;
}

.card__avatar {
    width: 2em;
    border-radius: 1em;
    border: 0.05em solid #fff;
}

.card__name {
    font-size: 1em;
    color: hsl(217, 19%, 35%);
}

.card__name--purple {
    color: hsl(260, 100%, 95%);
}

.card__name--gray {
    color: hsl(0, 0%, 100%);
}

.card__name--dark {
    color: hsl(214, 17%, 92%);
}

.card__svg {
    margin: 0;
    padding: 0;
}


.card__position {
    font-size: 0.8125em;
}

.card__quote1 {

    font-size: 1.5em;
    color: hsl(217, 19%, 35%);
    margin-bottom: 1em;
    font-weight: 700;
}

.card__quote1--purple {
    color: hsl(260, 100%, 95%);
}

.card__quote1--gray {
    color: hsl(0, 0%, 100%);
}

.card__quote1--dark {
    color: hsl(214, 17%, 92%);
}

@media (min-width: 48em) {
    main {
        height: fit-content;
        grid-template-columns: repeat(4, 16em);
        grid-template-areas: 'block1 block1 block2 block5''block3 block4 block4 block5';
        gap: 2em;
        padding-left: 10em;
        padding-right: 10em;
    }

    .card {
        height: 100%;
        margin: 0;
    }

    .card--daniel {
        grid-area: block1;
        background-image: url('../images/bg-pattern-quotation.svg');
        background-repeat: no-repeat;
        background-position: top 0 right 15%;
    }

    .card-johatan {
        grid-area: block2;
    }

    .card--jeanette {
        grid-area: block3;
    }

    .card--patrick {
        grid-area: block4;
    }

    .card--kira {
        grid-area: block5;
    }
}